{
  "tarballDir": "./doc",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ],

    "@semantic-release/changelog",
    [
      "@semantic-release/git",
      {
        "message": "Release <%= nextRelease.version %> [skip ci]",
        "assets": [
          "package.json",
          "CHANGELOG.md",
          "index.js"
        ]
      }
    ]
  ],
  "branches": [
    "main",
    "next"
  ],
  "type": "git",
  "url": "git@github.com:almerindo/traceability.git"
}
